mysqldump.exe : mysqldump: [Warning] Using a password on the command line interface can be insecure.
At line:7 char:1
+ & mysqldump -u root -proot --single-transaction --routines --triggers ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: auto_consultancy
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `application_status_history`
--

DROP TABLE IF EXISTS `application_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_status_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `changed_at` datetime(6) DEFAULT NULL,
  `new_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `previous_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `changed_by_user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfdvnrm195jdlti0syxo6qah6h` (`application_id`),
  KEY `FKfb625atilolbfug9sqxe9xbt1` (`changed_by_user_id`),
  CONSTRAINT `FKfb625atilolbfug9sqxe9xbt1` FOREIGN KEY (`changed_by_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKfdvnrm195jdlti0syxo6qah6h` FOREIGN KEY (`application_id`) REFERENCES `applications` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_status_history`
--

LOCK TABLES `application_status_history` WRITE;
/*!40000 ALTER TABLE `application_status_history` DISABLE KEYS */;
INSERT INTO `application_status_history` VALUES (3,'2026-08-02 23:02:15.115771','SUBMITTED','SUBMITTED','',2,1),(4,'2026-08-04 09:38:35.337357','DOCUMENT_VERIFICATION','WORKER_ASSIGNED','',2,2),(6,'2026-08-17 20:47:10.384191','REJECTED','DOCUMENT_VERIFICATION','',2,1),(7,'2026-08-17 20:47:27.907649','FINANCE_VERIFICATION','REJECTED','',2,1);
/*!40000 ALTER TABLE `application_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `application_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `remarks` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('APPROVED','COMPLETED','DOCUMENT_VERIFICATION','DRAFT','FINANCE_VERIFICATION','REJECTED','SUBMITTED','UNDER_REVIEW','WORKER_ASSIGNED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `submitted_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `customer_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKahcxcnoc8d0ls0id5xd3pspf3` (`application_number`),
  KEY `FK2tp5cp8mowb4pu11q4ljlu6o0` (`customer_id`),
  CONSTRAINT `FK2tp5cp8mowb4pu11q4ljlu6o0` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications`
--

LOCK TABLES `applications` WRITE;
/*!40000 ALTER TABLE `applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entity_id` bigint DEFAULT NULL,
  `entity_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjs4iimve3y0xssbtve5ysyef0` (`user_id`),
  CONSTRAINT `FKjs4iimve3y0xssbtve5ysyef0` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_details`
--

DROP TABLE IF EXISTS `bike_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_details` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `colour` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturing_year` int DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `registration_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `bike_model_id` bigint DEFAULT NULL,
  `manufacturer_id` bigint DEFAULT NULL,
  `variant_id` bigint DEFAULT NULL,
  `bike_condition` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `current_kilometres` int DEFAULT NULL,
  `engine_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fuel_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `registration_date` date DEFAULT NULL,
  `vehicle_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vin_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bike_inventory_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKjvwel9mqpfaw0f2wkqxnyb8ho` (`application_id`),
  KEY `FKq3sgvur5vei0e2lbd3vpobhvc` (`bike_model_id`),
  KEY `FKgrg4ls51ggs0et44jm5e5qp6u` (`manufacturer_id`),
  KEY `FK6wg9139nbbrmcjgx4bfopuoib` (`variant_id`),
  KEY `FKskyci7wsdxbuv5qsmum6c00un` (`bike_inventory_id`),
  CONSTRAINT `FK6wg9139nbbrmcjgx4bfopuoib` FOREIGN KEY (`variant_id`) REFERENCES `bike_variants` (`id`),
  CONSTRAINT `FKgrg4ls51ggs0et44jm5e5qp6u` FOREIGN KEY (`manufacturer_id`) REFERENCES `manufacturers` (`id`),
  CONSTRAINT `FKo3wx9itdc1gs5iagran6l9qsn` FOREIGN KEY (`application_id`) REFERENCES `applications` (`id`),
  CONSTRAINT `FKq3sgvur5vei0e2lbd3vpobhvc` FOREIGN KEY (`bike_model_id`) REFERENCES `bike_models` (`id`),
  CONSTRAINT `FKskyci7wsdxbuv5qsmum6c00un` FOREIGN KEY (`bike_inventory_id`) REFERENCES `bike_inventory` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_details`
--

LOCK TABLES `bike_details` WRITE;
/*!40000 ALTER TABLE `bike_details` DISABLE KEYS */;
INSERT INTO `bike_details` VALUES (2,'black',2023,'2026-08-02','AP40M1220',2,410,20,410,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(9,NULL,NULL,NULL,NULL,15,154,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,5),(10,NULL,NULL,NULL,NULL,16,154,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,5),(11,NULL,NULL,NULL,NULL,17,154,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,5),(12,NULL,NULL,NULL,NULL,18,154,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,5);
/*!40000 ALTER TABLE `bike_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_images`
--

DROP TABLE IF EXISTS `bike_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_images` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `mime_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `original_file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_primary` bit(1) DEFAULT NULL,
  `bike_model_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhdwrx8jh8b6eb1us2trmfgwrt` (`bike_model_id`),
  CONSTRAINT `FKhdwrx8jh8b6eb1us2trmfgwrt` FOREIGN KEY (`bike_model_id`) REFERENCES `bike_models` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_images`
--

LOCK TABLES `bike_images` WRITE;
/*!40000 ALTER TABLE `bike_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `bike_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_inventory`
--

DROP TABLE IF EXISTS `bike_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_inventory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `bike_code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `color` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condition_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `fuel_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `km_driven` int DEFAULT NULL,
  `price` decimal(12,2) DEFAULT NULL,
  `registration_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sale_status` enum('AVAILABLE','NOT_FOR_SALE','RESERVED','SOLD') COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `bike_model_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhvoi5p6ma728kbpjv018d39bq` (`bike_code`),
  KEY `FKehavelxyvkdt648xpn920kk95` (`bike_model_id`),
  CONSTRAINT `FKehavelxyvkdt648xpn920kk95` FOREIGN KEY (`bike_model_id`) REFERENCES `bike_models` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_inventory`
--

LOCK TABLES `bike_inventory` WRITE;
/*!40000 ALTER TABLE `bike_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `bike_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_inventory_images`
--

DROP TABLE IF EXISTS `bike_inventory_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_inventory_images` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `mime_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `original_file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_primary` bit(1) NOT NULL,
  `bike_inventory_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKedlcv8lbx45tpk5hjb67v3i9n` (`bike_inventory_id`),
  CONSTRAINT `FKedlcv8lbx45tpk5hjb67v3i9n` FOREIGN KEY (`bike_inventory_id`) REFERENCES `bike_inventory` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_inventory_images`
--

LOCK TABLES `bike_inventory_images` WRITE;
/*!40000 ALTER TABLE `bike_inventory_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `bike_inventory_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_models`
--

DROP TABLE IF EXISTS `bike_models`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_models` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `fuel_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `manufacturer_id` bigint NOT NULL,
  `available_for_sale` bit(1) DEFAULT NULL,
  `price` decimal(38,2) DEFAULT NULL,
  `sale_status` enum('AVAILABLE','NOT_FOR_SALE','RESERVED','SOLD') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrdmch9jm76jpcmihiuivm95c8` (`manufacturer_id`),
  CONSTRAINT `FKrdmch9jm76jpcmihiuivm95c8` FOREIGN KEY (`manufacturer_id`) REFERENCES `manufacturers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=708 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_models`
--

LOCK TABLES `bike_models` WRITE;
/*!40000 ALTER TABLE `bike_models` DISABLE KEYS */;
/*!40000 ALTER TABLE `bike_models` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_offers`
--

DROP TABLE IF EXISTS `bike_offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_offers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_response` text COLLATE utf8mb4_unicode_ci,
  `counter_offer_price` decimal(12,2) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `customer_message` text COLLATE utf8mb4_unicode_ci,
  `listed_price` decimal(12,2) NOT NULL,
  `offered_price` decimal(12,2) NOT NULL,
  `status` enum('ACCEPTED','COUNTER_ACCEPTED','COUNTER_OFFER','COUNTER_REJECTED','EXPIRED','PENDING','REJECTED','WITHDRAWN') COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `bike_inventory_id` bigint NOT NULL,
  `customer_id` bigint NOT NULL,
  `responded_by_user_id` bigint DEFAULT NULL,
  `agreed_price` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhqbyc73o7yyy5d9bt4m6vxmmy` (`bike_inventory_id`),
  KEY `FKj3ju3a11eo30m4h1pao4ha92g` (`customer_id`),
  KEY `FKcifvlvgow5nk42r3skibmqxin` (`responded_by_user_id`),
  CONSTRAINT `FKcifvlvgow5nk42r3skibmqxin` FOREIGN KEY (`responded_by_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKhqbyc73o7yyy5d9bt4m6vxmmy` FOREIGN KEY (`bike_inventory_id`) REFERENCES `bike_inventory` (`id`),
  CONSTRAINT `FKj3ju3a11eo30m4h1pao4ha92g` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_offers`
--

LOCK TABLES `bike_offers` WRITE;
/*!40000 ALTER TABLE `bike_offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `bike_offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bike_variants`
--

DROP TABLE IF EXISTS `bike_variants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bike_variants` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `enginecc` int DEFAULT NULL,
  `variant_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bike_model_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf785e7s4rtassk7tfr0mxa2s0` (`bike_model_id`),
  CONSTRAINT `FKf785e7s4rtassk7tfr0mxa2s0` FOREIGN KEY (`bike_model_id`) REFERENCES `bike_models` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=708 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bike_variants`
--

LOCK TABLES `bike_variants` WRITE;
/*!40000 ALTER TABLE `bike_variants` DISABLE KEYS */;
/*!40000 ALTER TABLE `bike_variants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` bigint NOT NULL,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `identity_proof` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `identity_proof_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pincode` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profile_complete` bit(1) NOT NULL,
  `state` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `FKpog72rpahj62h7nod9wwc28if` FOREIGN KEY (`id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `mime_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `original_file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reviewed_at` datetime(6) DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_at` datetime(6) DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `reviewed_by_user_id` bigint DEFAULT NULL,
  `uploaded_by_user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK8umh06sslm8f0rbfasqk6yy0f` (`application_id`),
  KEY `FKq27p31lp3b7ehgmr62gao8cxj` (`reviewed_by_user_id`),
  KEY `FKl9x37tt7rilivap5aayodxw7l` (`uploaded_by_user_id`),
  CONSTRAINT `FK8umh06sslm8f0rbfasqk6yy0f` FOREIGN KEY (`application_id`) REFERENCES `applications` (`id`),
  CONSTRAINT `FKl9x37tt7rilivap5aayodxw7l` FOREIGN KEY (`uploaded_by_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKq27p31lp3b7ehgmr62gao8cxj` FOREIGN KEY (`reviewed_by_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finance_details`
--

DROP TABLE IF EXISTS `finance_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `finance_details` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `bike_paid` bit(1) NOT NULL,
  `emi_amount` decimal(38,2) DEFAULT NULL,
  `emi_payment_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `finance_company` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `finance_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loan_account_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loan_amount` decimal(38,2) DEFAULT NULL,
  `loan_closure_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loan_start_date` date DEFAULT NULL,
  `next_emi_due_date` date DEFAULT NULL,
  `noc_available` bit(1) NOT NULL,
  `number_of_emis` int DEFAULT NULL,
  `outstanding_loan_amount` decimal(38,2) DEFAULT NULL,
  `paid_emis` int DEFAULT NULL,
  `purchase_payment_method` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remaining_emis` int DEFAULT NULL,
  `under_finance` bit(1) NOT NULL,
  `application_id` bigint DEFAULT NULL,
  `annual_interest_rate` decimal(5,2) DEFAULT NULL,
  `tenure_years` int DEFAULT NULL,
  `total_interest` decimal(12,2) DEFAULT NULL,
  `total_payable` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKp3pqtj29spv4xlqij5try5j5l` (`application_id`),
  CONSTRAINT `FKnaa3xynmqq8b3pfmjliietjd2` FOREIGN KEY (`application_id`) REFERENCES `applications` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finance_details`
--

LOCK TABLES `finance_details` WRITE;
/*!40000 ALTER TABLE `finance_details` DISABLE KEYS */;
INSERT INTO `finance_details` VALUES (2,_binary '\0',3400.00,'','sai ganesh finance',NULL,'',70000.00,'Active','2026-08-02','2026-09-01',_binary '',12,40000.00,0,NULL,NULL,_binary '',2,NULL,NULL,NULL,NULL),(9,_binary '\0',4211.94,NULL,'ganesh company',NULL,'1',50000.00,'ACTIVE',NULL,'2026-08-17',_binary '',12,50000.00,0,NULL,12,_binary '',17,2.00,1,543.28,50543.28);
/*!40000 ALTER TABLE `finance_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manufacturers`
--

DROP TABLE IF EXISTS `manufacturers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manufacturers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `country` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `logo_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKrgruuf4bdtokowdxk169bs8op` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manufacturers`
--

LOCK TABLES `manufacturers` WRITE;
/*!40000 ALTER TABLE `manufacturers` DISABLE KEYS */;
/*!40000 ALTER TABLE `manufacturers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manufacturing_years`
--

DROP TABLE IF EXISTS `manufacturing_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manufacturing_years` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `year` int NOT NULL,
  `bike_model_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK5l3bh44j5qg8t2h70mbptgfn` (`bike_model_id`),
  CONSTRAINT `FK5l3bh44j5qg8t2h70mbptgfn` FOREIGN KEY (`bike_model_id`) REFERENCES `bike_models` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3986 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manufacturing_years`
--

LOCK TABLES `manufacturing_years` WRITE;
/*!40000 ALTER TABLE `manufacturing_years` DISABLE KEYS */;
/*!40000 ALTER TABLE `manufacturing_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `message` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_read` bit(1) DEFAULT NULL,
  `related_application_id` bigint DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK9y21adhxn0ayjhfocscqox7bh` (`user_id`),
  CONSTRAINT `FK9y21adhxn0ayjhfocscqox7bh` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('ADMIN','CUSTOMER','WORKER') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_assignments`
--

DROP TABLE IF EXISTS `worker_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `worker_assignments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `assigned_at` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `assigned_by_user_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKj80yspn3b7golga7ls9jsko3w` (`application_id`),
  KEY `FKerrlrbk4ym3jibm7x5x7c10oh` (`assigned_by_user_id`),
  KEY `FK2eyb8nfhebj1pwmmef8y41f1b` (`worker_id`),
  CONSTRAINT `FK2eyb8nfhebj1pwmmef8y41f1b` FOREIGN KEY (`worker_id`) REFERENCES `workers` (`id`),
  CONSTRAINT `FK6vgb5im9llmjx3auff9ls52wh` FOREIGN KEY (`application_id`) REFERENCES `applications` (`id`),
  CONSTRAINT `FKerrlrbk4ym3jibm7x5x7c10oh` FOREIGN KEY (`assigned_by_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_assignments`
--

LOCK TABLES `worker_assignments` WRITE;
/*!40000 ALTER TABLE `worker_assignments` DISABLE KEYS */;
INSERT INTO `worker_assignments` VALUES (1,_binary '','2026-08-02 23:02:40.428894',NULL,NULL,2,1,2);
/*!40000 ALTER TABLE `worker_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workers`
--

DROP TABLE IF EXISTS `workers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workers` (
  `id` bigint NOT NULL,
  `active` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `department` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `designation` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `employee_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `joining_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK7t395n5ja56w3tm5rreeln2h4` (`employee_id`),
  CONSTRAINT `FKfndq34qejp11f3we03p3v42j5` FOREIGN KEY (`id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workers`
--

LOCK TABLES `workers` WRITE;
/*!40000 ALTER TABLE `workers` DISABLE KEYS */;
INSERT INTO `workers` VALUES (2,_binary '\0','2026-07-31 22:49:53.492630','Operations','Senior Consultant','EMP1001','2026-07-31','2026-08-02 19:18:10.107190'),(3,_binary '\0','2026-07-31 22:49:53.597165','Finance','Finance Analyst','EMP1002','2026-07-31','2026-08-02 19:18:12.107001'),(4,_binary '\0','2026-07-31 22:49:53.602165','Verification','Document Specialist','EMP1003','2026-07-31','2026-08-02 19:18:13.725316');
/*!40000 ALTER TABLE `workers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'auto_consultancy'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-18 10:07:27
